.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #ddd;
}

.container{
  width: 80%;
  max-width: 960px !important;
  margin: 30px auto;
}
/*COMMON STYLE*/
.control-group label i{
  font-size: 11px;
  font-weight: 400;
}
.control-group.error input, .control-group.error label{
    border-color: #b94a48;
    color:#b94a48;
}
#sendingWindow{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.8);
  top: 0;
  z-index: 999;
}
#sendingWindow img{
  width: 60px;
  height: 60px;
  margin: 20% 48%;
}
/*COMMON STYLE ENDS*/
/*LOGIN STYLE*/
.loginLogo{
  text-align: center;
  margin-bottom: 50px;
}
.loginLogo img{
  width: 120px;
  height: auto;
}

.loginBox{
  width:60%;
  margin: 0 auto;
}
.loginBox .btn-group{
  width: 100%;
}
.loginBox .fulltabBtn{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 18px;
  width: 100%;
}
.loginBox .tabBtn{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 18px;
  width: 50%;
}
.loginBox .tabBtn.active{
  background-color: red;
}
.loginBox .loginForm{
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  border-width:0 1px 1px 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  overflow: hidden;
}
.loginBox .loginForm .control-group{
  margin-bottom: 15px;
}
.loginBox .loginForm .btn{
  width: 100%;
  text-align: center;
}
.loginBox .loginForm .inner{
  padding:20px;
}
/*LOGIN STYLE ENDS*/
ul.progressStep {
  padding:0;
  background: transparent;
  box-shadow: none;
}
ul.progressStep li{
  width:25%;
  box-sizing: border-box;
  display: inline-block;
  background: rgba(0,0,0,0.7);
  color:#ffffff;
  float:left;
  min-height: 65px;
  padding: 10px 10px;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  border-right:1px solid rgba(0,0,0,0.2);
}
ul.progressStep li.dueline{
  line-height: 100%;
  padding-top: 20px;
}
ul.progressStep li:first-child{
  border-radius: 3px 0 0 3px;
}
ul.progressStep li:last-child{
  border-radius: 0 3px 3px 0;
}
ul.progressStep li.active{
  background: rgba(183,205,54,1);
  color:#ffffff;
  box-shadow:1px 3px 5px rgba(0,0,0,0.2) inset;
}
/*FORM STEP STYLE*/
.form-step{
  background-color: rgba(255,255,255,0.4);
}
.form-step .section{
  padding: 10px 20px;
}
.form-step h1{
  margin: 0;
  padding: 5px;
  background-color: #70328f;
  color:#ffffff;
}
.form-step h2{
  margin: 0;
  padding: 5px 15px;
  font-size: 18px;
  background-color: #b7cd36;
  color:#ffffff;
}
.form-step h3{
  margin: 10px 0;
  font-size: 16px;
  font-style: italic;
}
.form-step h3 span{
  font-size: 14px;

}
.form-step label.halfwidth{
  width:50%;
  margin-left: 0;
}
.form-step label.fullwidth{
  width:80%;
  margin-left: 0;
}
.bottomCtrl{
  background-color: rgba(43,193,241,0.2);
  padding: 20px;
  margin-top: 20px;
}
/*FORM STEP STYLE ENDS*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
