<div class="form-step">
  <h1>Course Selection</h1>
  <div class="section">
    <div class="form-group control-group" ng-class="{'error':CourseErr}" >
      <label for="Course">Please refer to the Course Guide for full details of course outline, pathways, entry requirements and duration. Details also available at <a href="www.tlctrainingsolutions.com.au" target="_blank">www.tlctrainingsolutions.com.au</a>  </label>
        <label class="radio-inline fullwidth" ng-repeat="Course in Courses ">
          <input type="radio" ng-model="$parent.CourseID" value="{{Course.CourseId}}"> {{Course.CourseName}}
        </label>
    </div>
  </div>
  <h2>Mode of Study</h2>
  <div class="section">
    <div class="form-group control-group" ng-class="{'error':StudyOfModeErr}" >
      <label for="StudyOfMode">Please refer to the Course Guide for full details of study modes and funding opportunities. Course Guide and Details are also available at <a href="www.tlctrainingsolutions.com.au" target="_blank">www.tlctrainingsolutions.com.au</a>  </label>
      <br/>
      <div class="row section">
        <div class="col-md-6" ng-repeat="StudyMode in StudyModes">
          <label class="checkbox" for="{{StudyMode.StudyModeId}}">
            <input type="checkbox" ng-model="ModeOfStudyList.ids[StudyMode.StudyModeId]" name="group" id="{{StudyMode.StudyModeId}}" />
            {{StudyMode.StudyModeDescription}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <h2>Recognition of Prior Learning (RPL) and Credit Transfer </h2>
  <div class="section">
    <div class="form-group control-group" ng-class="{'error':ApplyRPLErr}">
      <label for="ApplyRPL">I wish to apply for RPL (refer to course guide and RPL Candidate Application for information on RPL)</label>
      <br/>
      <label class="radio-inline">
        <input type="radio" ng-model="ApplyRPL" value="1"> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="ApplyRPL" value="0"> No
      </label>
      <p ng-show="ApplyRPL==1">I understand I need to complete the ‘RPL Candidate Application Form’ (PDF form LINK will be advised)</p>
    </div>
    <div class="form-group control-group" ng-class="{'error':ApplyCreditTransferErr}">
      <label for="ApplyCreditTransfer">I wish to apply for Credit Transfer (refer to course guide for information on credit transfers)</label>
      <br/>
      <label class="radio-inline">
        <input type="radio" ng-model="ApplyCreditTransfer" value="1"> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="ApplyCreditTransfer" value="0"> No
      </label>
      <p ng-show="ApplyCreditTransfer==1">I have attached a certified copy of my Statement of Attainment</p>
    </div>
  </div>
  <h2>Study Reason</h2>
  <div class="section">
    <div class="form-group control-group" ng-class="{'error':StudyReasonErr}">
      <label for="StudyReason">Of the following categories which BEST describes your main reason for undertaking this course / traineeship </label>
      <br/>
      <label class="radio-inline halfwidth" ng-repeat="StudyReason in StudyReasons ">
        <input type="radio" ng-model="$parent.StudyReason" value="{{StudyReason.StudyReasonId}}"> {{StudyReason.StudyReasonName}}
      </label>
      <div class="row">
        <div class="col-md-4 col-md-offset-6">
          <div class="form-group control-group" ng-class="{'error':OtherStudyReasonErr}" >
          	<input type="text"  class="form-control " ng-model="OtherStudyReason" ng-show="StudyReason==10" placeholder="please specify">
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>Language, Literacy and Numeracy</h2>
  <div class="section">
    <p>All students are required to complete a language, literacy and numeracy assessment prior to entry into a course. This will be done later as part of your actual enrolment. The purpose of this test is to determine whether you may require additional support in order to complete the course successfully. </p>
    <p>To assist us in determining what level of LLN support (if any) you may require please answer the below. This way, we can tell you prior to your enrolment if we are able to provide the level of support you require or if you might need to seek support from external agencies.</p>
    <div class="control-group" ng-class="{'error':PassYear10EnglishErr}" >
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="PassYear10English"> I have achieved a pass in year 10 English or equivalent
        </label>
      </div>
    </div>
    <div class="control-group" ng-class="{'error':CompleteEnglishTestErr}" >
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="CompleteEnglishTest"> I have completed an English proficiency test
        </label>
      </div>
      <div class="row" ng-show="CompleteEnglishTest==true">
        <div class="col-md-4">
          <div class="form-group control-group" ng-class="{'error':IELTSScoreErr}" >
          	My IELTS Score is <input type="text"  class="form-control " ng-model="IELTSScore">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section"  ng-show='!stepValid'>
    <div class="alert alert-danger"  role="alert">
      <h5>Sorry, required info missing!</h5>
    </div>
  </div>
  <div class="bottomCtrl clearfix">
      <a class="btn btn-default" ng-click="prev()" role="button">Prev</a>
      <a class="btn btn-primary pull-right" ng-click="next()" role="button">Next</a>
  </div>
</div>
