<div class="form-step">
  <h1>Other Information</h1>
  <div class="alert alert-danger"  role="alert">
    <h5>Sorry, filed in <span>red</span> needs attention!</h5>
  </div>
  <h2>Language and Cultural Diversity</h2>
  <div class="section">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group control-group" ng-class="{'error':CountryofBirthErr}">
          <label for="CountryofBirth">In what country were you born?</label>
          <select class="form-control" ng-model="CountryofBirth" ng-options="Country.CountryId as Country.CountryName for Country in Countries">
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group control-group" ng-class="{'error':CityofBirthErr}">
          <label for="CityofBirth" >Place of Birth(Town or City)</label>
          <input type="text"  class="form-control " ng-model="CityofBirth">
        </div>
      </div>
    </div>
    <div class="form-group control-group" ng-class="{'error':AboriginalErr}">
      <label for="Aboriginal">Are you of Aboriginal and / or Torres Strait Islander origin?</label>
      <br/>
      <label class="radio-inline">
        <input type="radio" ng-model="Aboriginal" value="1"> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="Aboriginal" value="0"> No
      </label>
    </div>
    <div class="well form-group control-group" ng-class="{'error':OriginErr}" ng-show="Aboriginal==1">
      <label class="radio-inline" ng-repeat="Origin in Origins">
        <input type="radio" ng-model="$parent.Origin" value="{{Origin.OriginId}}"> {{Origin.OriginName}}
      </label>
    </div>
    <div class="form-group control-group" ng-class="{'error':SpeakOtherLanguageErr}">
      <label for="SpeakOtherLanguage">Do you speak a language other than English at home?</label>
      <br/>
      <label class="radio-inline">
        <input type="radio" ng-model="SpeakOtherLanguage" value="1"> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="SpeakOtherLanguage" value="0"> No
      </label>
    </div>
    <div class="well form-group control-group" ng-class="{'error':LanguageOtherEnglishErr}" ng-show="SpeakOtherLanguage==1">
      <label for="LanguageOtherEnglish" >If more than one language, please indicate the one that is spoken most often</label>
      <input type="text"  class="form-control " ng-model="LanguageOtherEnglish">
    </div>
    <div class="form-group control-group" ng-class="{'error':EnglishProficiencyErr}">
      <label for="EnglishProficiency" >How well do you speak English?</label>
      <br/>
      <label class="radio-inline" ng-repeat="LanguageProficiency in LanguageProficiencies">
        <input type="radio" ng-model="$parent.EnglishProficiency" value="{{LanguageProficiency.ProficiencyLevelId}}"> {{LanguageProficiency.ProficiencyLevelName}}
      </label>
    </div>
    <div class="form-group control-group" ng-class="{'error':HoldVisaErr}">
      <label for="HoldVisa">Do you currently hold any Visa’s? </label>
      <br/>
      <label class="radio-inline">
        <input type="radio" ng-model="HoldVisa" value="1"> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="HoldVisa" value="0"> No
      </label>
    </div>
    <div class="well form-group control-group form-inline" ng-class="{'error':VisaTypeErr}" ng-show="HoldVisa==1">
      <label for="VisaType">Please tick relevant Visa below</label>
      <br/>
      <label class="radio-inline" ng-repeat="VisaType in VisaTypes">
        <input type="radio" ng-model="$parent.VisaType" value="{{VisaType.VisaTypeId}}"> {{VisaType.VisaTypeName}}
      </label>
      <div class="form-group control-group" ng-class="{'error':OtherVisaTypeErr}">
      	<input type="text"  class="form-control " ng-model="OtherVisaType" ng-show="VisaType==4" placeholder="please specify">
      </div>
      <br/>
      <div class="form-group control-group" ng-class="{'error':UploadVisaErr}">
	      <div class="checkbox">
	        <label>
	          <input type="checkbox" ng-model="UploadVisa"> I will upload a copy of my Visa with my application.
	        </label>
	      </div>
      </div>
    </div>
  </div>
  <h2>Disability</h2>
  <div class="section">
    <div class="form-group control-group" ng-class="{'error':DisabilityErr}">
      <label for="Disability">Do you consider yourself to have a disability, impairment or long-term condition?</label>
      <br/>
      <label class="radio-inline">
        <input type="radio" ng-model="Disability" value="1"> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="Disability" value="0"> No
      </label>
    </div>
    <div class="well form-group control-group" ng-class="{'error':DisabilityPartsErr}" ng-show="Disability==1">
      <label for="DisabilityParts"> Please indicate the areas of disability, impairment or long term condition (You may indicate more than one area)</label>
      <br/>
      <div class="row section">
        <div class="col-md-6" ng-repeat="DisabilityArea in DisabilityAreas">
          <label class="checkbox " for="{{DisabilityArea.DisabilityAreaId}}">
            <input type="checkbox" ng-model="DisabilityParts.ids[DisabilityArea.DisabilityAreaId]" name="group" id="{{DisabilityArea.DisabilityAreaId}}" />
            {{DisabilityArea.DisabilityAreaName}}
          </label>
        </div>
      </div>
      <!-- <pre ng-bind="DisabilityParts.ids | json"></pre> -->
    </div>
    <div class="form-group control-group" ng-class="{'error':ApplyDAAWSFundingErr}">
      <label for="ApplyDAAWSFunding">Do you wish to apply for DAAWS funding? (Trainees / Apprentices ONLY)?</label>
      <br/>
      <label class="radio-inline">
        <input type="radio" ng-model="ApplyDAAWSFunding" value="1"> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="ApplyDAAWSFunding" value="0"> No
      </label>
      <br/>
      <p>More information about DAAWS can be found at:<br/>
        <a href="http://www.australianapprenticeships.gov.au/programme/support-australian-apprentices-disability" target="_blank">http://www.australianapprenticeships.gov.au/programme/support-australian-apprentices-disability</a></p>
    </div>
  </div>
  <h2>Emergency Contact Details (Optional)</h2>
  <div class="section">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group control-group">
          <label for="EmergencyContactName">Contact Name</label>
          <input type="text"  class="form-control " ng-model="EmergencyContactName">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group control-group">
          <label for="EmergencyContactRelationship" >Relationship to you</label>
          <input type="text"  class="form-control " ng-model="EmergencyContactRelationship">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group control-group">
          <label for="EmergencyContactMobile">Mobile Phone Number</label>
          <input type="text"  class="form-control " ng-model="EmergencyContactMobile">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group control-group">
          <label for="EmergencySecondContactNo" >Second Contact Number</label>
          <input type="text"  class="form-control " ng-model="EmergencySecondContactNo">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group control-group">
          <label for="AdditionalEmergencyContactName">Additional Contact Name</label>
          <input type="text"  class="form-control " ng-model="AdditionalEmergencyContactName">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group control-group">
          <label for="AdditionalEmergencyContactRelationship" >Relationship to you</label>
          <input type="text"  class="form-control " ng-model="AdditionalEmergencyContactRelationship">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group control-group">
          <label for="AdditionalEmergencyContactMobile">Mobile Phone Number</label>
          <input type="text"  class="form-control " ng-model="AdditionalEmergencyContactMobile">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group control-group">
          <label for="AdditionalEmergencySecondContactNo" >Second Contact Number</label>
          <input type="text"  class="form-control " ng-model="AdditionalEmergencySecondContactNo">
        </div>
      </div>
    </div>
    <p>Optional Emergency Information:<br/>The below is not mandatory but may assist us seeking the care you prefer should an emergency occur. </p>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group control-group">
          <label for="DoctorName">Doctor Name</label>
          <input type="text"  class="form-control " ng-model="DoctorName">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group control-group">
          <label for="DoctorPhone" >Phone Number</label>
          <input type="text"  class="form-control " ng-model="DoctorPhone">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group control-group">
          <label for="PreferredHospital" >Preferred Hospital</label>
          <input type="text"  class="form-control " ng-model="PreferredHospital">
        </div>
      </div>
    </div>
  </div>
  <h2>How did you find us?</h2>
  <div class="section">
    <div class="form-group control-group form-inline" ng-class="{'error':HeardAboutUsErr}">
      <label class="radio-inline halfwidth" ng-repeat="HeardAbout in HeardAbouts ">
        <input type="radio" ng-model="$parent.HeardAboutUs" value="{{HeardAbout.HeardAboutId}}"> {{HeardAbout.HeardAboutDescription}}
      </label>
      <div class="form-group control-group"   ng-class="{'error':OtherHeardAboutUsErr}"  ng-show="HeardAboutUs==9">
      	<input type="text"  class="form-control " ng-model="OtherHeardAboutUs" placeholder="please specify" >
      </div>
    </div>
  </div>
  <div class="bottomCtrl clearfix">
      <a class="btn btn-default" ng-click="prev()" role="button">Prev</a>
      <a class="btn btn-primary pull-right" ng-click="next()" role="button">Next</a>
  </div>
</div>
